[submodule "modules/ntp"]
	path = modules/ntp
	url = https://github.com/puppetlabs/puppetlabs-ntp.git
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
