[submodule "modules/ntp"]
	path = modules/ntp
	url = https://github.com/puppetlabs/puppetlabs-ntp.git
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "modules/epel"]
	path = modules/epel
	url = https://github.com/stahnma/puppet-module-epel.git
[submodule "modules/timezone"]
	path = modules/timezone
	url = https://github.com/saz/puppet-timezone.git
[submodule "modules/dnsmasq"]
	path = modules/dnsmasq
	url = https://github.com/saz/puppet-dnsmasq.git
[submodule "modules/sysctl"]
	path = modules/sysctl
	url = https://github.com/duritong/puppet-sysctl.git
[submodule "modules/firewall"]
	path = modules/firewall
	url = https://github.com/puppetlabs/puppetlabs-firewall.git
[submodule "modules/nginx"]
	path = modules/nginx
	url = https://github.com/voxpupuli/puppet-nginx.git
[submodule "modules/concat"]
	path = modules/concat
	url = https://github.com/puppetlabs/puppetlabs-concat.git
[submodule "modules/filemapper"]
	path = modules/filemapper
	url = https://github.com/voxpupuli/puppet-filemapper.git
[submodule "modules/boolean"]
	path = modules/boolean
	url = https://github.com/voxpupuli/puppet-boolean.git
[submodule "modules/network"]
	path = modules/network
	url = https://github.com/carroarmato0/puppet-network.git
[submodule "modules/lxc"]
	path = modules/lxc
	url = https://github.com/carroarmato0/puppet-lxc.git
[submodule "modules/resolv_conf"]
	path = modules/resolv_conf
	url = https://github.com/saz/puppet-resolv_conf.git
[submodule "modules/puppet"]
	path = modules/puppet
	url = https://github.com/theforeman/puppet-puppet.git
[submodule "modules/squid"]
	path = modules/squid
	url = https://github.com/voxpupuli/puppet-squid.git
[submodule "modules/selinux"]
	path = modules/selinux
	url = https://github.com/voxpupuli/puppet-selinux.git
[submodule "modules/php"]
	path = modules/php
	url = https://github.com/voxpupuli/puppet-php.git
[submodule "modules/archive"]
	path = modules/archive
	url = https://github.com/voxpupuli/puppet-archive.git
[submodule "modules/yum"]
	path = modules/yum
	url = https://github.com/example42/puppet-yum.git
[submodule "modules/inifile"]
	path = modules/inifile
	url = https://github.com/puppetlabs/puppetlabs-inifile.git
[submodule "modules/mysql"]
	path = modules/mysql
	url = https://github.com/puppetlabs/puppetlabs-mysql.git
[submodule "modules/collectd"]
	path = modules/collectd
	url = https://github.com/carroarmato0/puppet-collectd.git
[submodule "modules/graphite"]
	path = modules/graphite
	url = https://github.com/echocat/puppet-graphite.git
[submodule "modules/influxdb"]
	path = modules/influxdb
	url = https://github.com/n1tr0g/golja-influxdb.git
[submodule "modules/grafana"]
	path = modules/grafana
	url = https://github.com/bfraser/puppet-grafana.git
[submodule "modules/samba"]
        path = modules/samba
        url = https://github.com/ajjahn/puppet-samba.git
[submodule "modules/cron"]
	path = modules/cron
	url = https://github.com/torrancew/puppet-cron.git
[submodule "modules/sudo"]
	path = modules/sudo
	url = https://github.com/saz/puppet-sudo.git
[submodule "modules/ssh"]
	path = modules/ssh
	url = https://github.com/saz/puppet-ssh.git
[submodule "modules/java"]
	path = modules/java
	url = https://github.com/puppetlabs/puppetlabs-java.git
